body, html {
    height: 100%;
    background-image: url("assets/images/vogue.png");
    font-family:'Playfair Display', serif;
    

}
.container  {
    text-align: center;
}

#title {
    font-size: 5em;
    background-color: black;
    opacity: 0.8;
    color: white;
}
#bodybox {
    border-style: dotted;
    border-color: blueviolet;
    margin-top: 50px;
    background-color: white;
    opacity: 0.8;
}
#leftbox{
    border-right-style: dotted;
    border-color: blueviolet;
}


